body{
  margin:0;
  padding:0;
}

header{
  height:60px;
  width:100%;
  background:#222;
  color:#fff;
  font-size:20px;
  text-align:center;
  line-height: 60px;
  position:fixed;
  top:0;
  left:0;
}

header a{
  position:absolute;
  font-size:14px;
  color:#999;
  top:0;
  right:20px;
}

main{
  width:100%;
  box-sizing: border-box;
  margin-top:60px;
  padding:40px 60px;
}

button{
  border:1px solid #999;
  outline:none;
  cursor:pointer;
}
.text{
  font-size:18px;
}
#msg{
  font-size: 18px;
  margin-left:10px;
}
#device{
  width: 100px;
  height: 26px;
  font-size:18px;
  outline: none;
  border:1px solid #999;
  margin-right:5px;
}
#pin{
  outline: none;
  border:1px solid #999;
  font-size:18px;
  margin-right:5px;
}
#set {
  width: 70px;
  height: 32px;
  font-size: 18px;
  line-height: 20px;
  background: #888;
  color:#fff;
}
#recode{
  width:120px;
}

.menu{
  vertical-align: top;
  font-size:16px;
  margin:20px 2px 10px;
  width:50px;
  height:50px;
  background:#ddd;
  color:#000;
  line-height:18px;
}
.t{
  margin:35px 2px 10px;
  display:inline-block;
  height:30px;
  vertical-align: top;
}
#tempo{
  width:80px;
  vertical-align:middle;
}
.t span{
  display:inline-block;
  vertical-align:middle;
}
#cc1, #cc2{
  width:50px;
  height:50px;
  margin:5px 5px 15px;
  border:1px solid #999;
  vertical-align:middle;
  font-size:18px;
  background:#ddd;
  color:#000;
  line-height:18px;
}
#show,#showtempo{
  vertical-align:middle;
  display: inline-block;
  margin:5px 5px 15px;
  border:1px solid #000;
  padding:15px;
  width:80%;
  height:30px;
  overflow-y:scroll;
  word-wrap:break-word;
  white-space:pre-wrap;
}
.keyboard{
  vertical-align:top;
  width:30px;
  background:#444;
  margin:0 -16px 10px;
  border:1px solid #999;
  outline:none;
  color:#fff;
  height:60px;
  position:relative;
  z-index:3;
  font-size:11px;
  text-align: center;
  padding:0;
  padding-top:30px;
  box-sizing: border-box;
}
.keyboard:active{
  background:#000;
}
.disabled{
  opacity:.4;
}
.w{
  z-index:1;
  position:relative;
  margin:0 -2px 10px;
  color:#000;
  background:#fff;
  height:100px;
  padding-top:70px;
}
.w:active{
  background:#ddd;
}
.z{
  width:100%;
  margin:0 -2px 10px;
  background:#666;
  height:50px;
  font-size:16px;
  padding-top:0px;
}
